.container
{
    left: 10%;
    top: 10%;
    position: absolute;
    /*border: 2px solid black;
    border-radius: 10px;*/
    width: 80%;
    height: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-body img
{
    width: 500px;
    height: 740px;
}
.left-side
{
    left: 35%;
    top: 0%;
    position: absolute;
    /*border: 2px solid black;
    border-radius: 10px;*/
    width: 65%;
    height: 100%;
}
.left-side h1{
    margin-left: 50px;
    margin-top: 30px;
    color:  #B5CA15;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left-side input
{
    width: 370px;
    height: 50px;
    border:2px solid #B5CA15;
    color: black;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}
.left-side label
{
    font-size: 23px;
    font-weight: 600;
    margin-left: 50px;
}
.left-side p
{
    margin-left: 50px;
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin-bottom: -10px;
}
.left-side i{
    color: #B5CA15;
    width: 20px;
    margin-left: 50px;
}
#cancel 
{
    width: 173px;
    height: 40px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid black;
    text-align: center;
    color: black;
    background-color: #d9d9d9;
    margin-left: 500px;
}
#submit 
{
    width: 173px;
    height: 40px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background-color: #B5CA15;
    border: 2px solid #B5CA15;
    cursor: pointer;
}